{%load static%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style>
  body{
    font-family: century-gothic, sans-serif;
  }
.top-text{
 font-size: 24px;
 font-weight: bolder;
}

.bottom-text{
 text-align: justify;
 font-size: 14px;
}

.bottom-text2{
 text-align:left;
 font-size: 12px;
}

.btn-custom button {
  min-width: 250px;
  border-radius: 15px !important;
}
.btn-custom .active {
  background-color: #08295c !important;
}
.btn-custom .logout {
  min-width: 100px;
}
.btn-custom button:hover{
  background-color: #8f131e !important;
}

.icon{
    margin: -70px 0 0px 0;
}
.main-body{
  margin-top: 150px;
}
.footer-link{
text-decoration-color: white;
color: white;
}
</style>
</head>
<body>
  <div class="container-fluid p-0 fixed-top">
    <nav class="navbar navbar-light bg-light shadow btn-custom">
      <div class="container">
        <a class="navbar-brand top-text" href="#">
          <img src="{% static 'img/logo.png'%}" alt="logo" width="50" height="50" class="">
          Animal Matters
        </a>
        <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-outline-secondary logout">Log Out</button>
        </a>
      </div>
    </nav>
    <div class="container py-4 bg-white">
      <div class="d-xl-flex justify-content-between btn-custom " >
        
        <a href="{% url 'home' %}">
          <button type="button" class="btn btn-outline-secondary ">Home</button>
          </a>
        <a href="{% url 'report' %}">
        <button type="button" class="btn btn-outline-secondary active">Report</button>
        </a>
        <a href="{% url 'donation' %}">
        <button type="button" class="btn btn-outline-secondary">Donation</button>
        </a>
        <a href="{% url 'aboutus' %}">
        <button type="button" class="btn btn-outline-secondary">About Us</button>
        </a>
       
      </div>

  </div>
</div>
<div class="container" >

  <div class="row main-body">

    <div class="col-md-1"></div>
    <div class="col-md-5 text-center p-5">
      <h4 class=""><u>Report A Case</u></h4>
      <p class="fs-5">Whether a dog has been hit by a car, or a calf has fallen in a ditch, we are here to help the ownerless animals</p>
      <p class="fs-5">From early morining until past midnight, whenever we receive a report, Our helpline team assess via video, and dispatches our rescue teams so that animals with the most life-threatening problems are given greatest priority.</p>
      <p class="fs-5">If you make a report of alleged animal cruelty, the responding agency is required to investigate.

        If your area lacks the proper animal welfare agency and your local authorities are not equipped to deal with animal cruelty cases, you can also contact us.
        
        </p>
        
      <p class="fs-5">Be sure to document the case as well as you can with dates, times, specific details and, if possible, footage and photographs from a cell phone. All of these things can help appropriate agencies during any investigation they may do of the suspected cruelty.</p>
    </div>
    <div class="col-md-5 p-5 bg-white rounded">
      <h5 class="text-info text-center"><u>Report A Case</u></h5>
      <form class="row g-3 ">
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputname">
        </div>
        <div class="col-md-12">
          <label for="inputemail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputemail">
        </div>
        <div class="col-md-12">
          <label for="inputphonenumber" class="form-label">Phone Number</label>
          <input type="password" class="form-control" id="inputphonenumber">
        </div>
        <div class="col-12">
          <label for="inputlocation" class="form-label">Location</label>
          <input type="text" class="form-control" id="inputlocation" placeholder="1234 Main St" name="location">
        </div>
        <div class="col-12">
          <label for="inputdetails" class="form-label">Details</label>
          <textarea class="form-control" id="inputdetails" rows="3" name="des"></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Virtual Proof</label>
          <input type="file" class="form-control" name="vp">
        </div>
        <div class="col-12 text-center btn-custom">
          <button type="submit" class="btn btn-danger"name="reportsubmit">Submit</button>
        </div>
      </form>

    </div>
    <div class="col-md-1"></div>
  </div>
   
  
    <div class="w-100 bg-black my-5" style="height: 1px;"></div>
    <div class="row px-2" style="background-color: #1c3b69;">
      <div class="col-md-4 py-4 text-center" >
        <img src="{% static 'img/report.png'%}" class="figure-img img-fluid rounded" alt="pets">
        <a href="{% url 'report' %}" class="footer-link">Report a Case</a>
    </div>
    <div class="col-md-4 py-4 text-center" >
        <img src="{% static 'img/home.png'%}" class="figure-img img-fluid rounded" alt="pets">
        <a href="{% url 'report' %}" class="footer-link">Adoption</a>
    </div>
    <div class="col-md-4 py-4 text-center" >
        <img src="{% static 'img/donation.png'%}" class="figure-img img-fluid rounded" alt="pets">
        <a href="{% url 'donation' %}" class="footer-link">Donation</a>
      </div>

  </div>

  </div>
</body>
</html>